body {
  position: absolute;
  width: 100%;
  height: 4375px;
  margin: 0; }

.HandPottery_Block1 {
  width: 100%;
  height: 909px;
  z-index: 0;
  background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url("../assets//5fe4c032c1ffce56de31fb12f7c93492.jpg"), url("../assets//"); }
  .HandPottery_Block1_Container {
    width: 83.33%;
    margin: 0% 8.3% 5.48% 8.3%;
    height: 91.3%;
    background-color: transparent;
    position: relative; }
  .HandPottery_Block1_Navbar {
    width: 74.91%;
    height: 17.1%;
    margin: 0% 12.5% 0% 12.5%;
    background-color: transparent;
    display: flex;
    flex-direction: row; }
    .HandPottery_Block1_Navbar_Item {
      width: 77px;
      height: 24px;
      text-decoration: none;
      margin-top: 86px;
      margin-right: 60px;
      margin-left: 60px;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      color: #2F2F2F;
      font-size: 18px;
      line-height: 24px; }
    .HandPottery_Block1_Navbar_Logo {
      padding: 32px; }
  .HandPottery_Block1_MainText {
    position: absolute;
    top: 27%;
    width: 38.25%;
    height: 22.4%;
    font-family: 'GFS Didot', serif;
    font-style: bold;
    font-size: 72px;
    color: #2F2F2F;
    text-transform: uppercase; }
  .HandPottery_Block1_VerticalText {
    position: absolute;
    left: -7%;
    top: 57%;
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 105px;
    width: 21.91%;
    height: 12.65%;
    transform: rotate(-90deg);
    color: #BF965F; }
  .HandPottery_Block1_SVG {
    position: absolute;
    z-index: 1;
    left: 38%;
    top: 31%; }
  .HandPottery_Block1_Button {
    position: absolute;
    top: 88%;
    left: 0%;
    padding: 12px;
    background: #BF965F;
    text-align: center;
    border: none; }
    .HandPottery_Block1_Button a {
      color: #FCFCFC;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-decoration: none;
      line-height: 36px; }

.HandPottery_Block2 {
  width: 100%;
  height: 550px;
  position: relative;
  background: #F2E6DA; }
  .HandPottery_Block2_RightPicture {
    position: absolute;
    top: 10%;
    left: 0%; }
  .HandPottery_Block2_TextContainer {
    width: 44.16667%;
    height: 49.63636%;
    position: absolute;
    top: 25.27%;
    left: 27.91%;
    display: flex;
    flex-direction: column; }
    .HandPottery_Block2_TextContainer_Title {
      height: 93px;
      text-align: center;
      font-family: Sacramento;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 93px;
      color: #2F2F2F; }
    .HandPottery_Block2_TextContainer_Text {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #2F2F2F; }
  .HandPottery_Block2_LeftPicture {
    position: absolute;
    right: 0;
    top: 26.9%; }

.HandPottery_Block3 {
  width: 100%;
  height: 1405px;
  background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url("../assets/Rectangle 17.png");
  position: relative; }
  .HandPottery_Block3_TextContainer {
    width: 50.27778%;
    height: 15.37367%;
    position: absolute;
    left: 8.33333%;
    top: 5.69395%; }
    .HandPottery_Block3_TextContainer_Title {
      font-family: Didot;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;
      color: #2F2F2F; }
    .HandPottery_Block3_TextContainer_ItemList {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      margin-top: 1em;
      font-size: 18px;
      line-height: 24px;
      color: #2F2F2F; }
      .HandPottery_Block3_TextContainer_ItemList .arrow {
        margin-right: 10px; }
  .HandPottery_Block3_PriceContainer {
    position: absolute;
    top: 12.38434%;
    right: 8.33333%;
    width: 28.33333%;
    height: 9.44444%;
    border: 2px solid #BF965F;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
    .HandPottery_Block3_PriceContainer_UpperBox {
      height: 64.70588%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal; }
      .HandPottery_Block3_PriceContainer_UpperBox_Title {
        font-size: 32px;
        line-height: 42px;
        color: #7C8C69; }
    .HandPottery_Block3_PriceContainer_BelowBox {
      width: 100%;
      height: 35.29412%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #BF965F; }
      .HandPottery_Block3_PriceContainer_BelowBox_Text {
        font-size: 18px;
        line-height: 24px;
        color: white; }
  .HandPottery_Block3_VenueContainer {
    position: absolute;
    top: 23.20285%;
    right: 8.33333%;
    width: 28.33333%;
    height: 31.60142%;
    border: 2px solid #BF965F;
    box-sizing: border-box; }
    .HandPottery_Block3_VenueContainer_Margin {
      width: 79.90196%;
      height: 72.97297%;
      margin: 14.3% 10% 14.3% 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .HandPottery_Block3_VenueContainer_Margin_Item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px; }
        .HandPottery_Block3_VenueContainer_Margin_Item .VenueText {
          font-family: Roboto Slab;
          margin-top: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          color: #2F2F2F;
          line-height: 32px; }
  .HandPottery_Block3_SVG {
    position: absolute;
    left: 8.33333%;
    top: 31.17438%; }
