body {
  position: absolute;
  width: 100%;
  height: 4375px;
  margin: 0; }

.HandPottery_Block1 {
  width: 100%;
  height: 909px;
  z-index: 0;
  background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url("../assets//5fe4c032c1ffce56de31fb12f7c93492.jpg"), url("../assets//"); }
  .HandPottery_Block1_Container {
    width: 83.33%;
    margin: 0% 8.3% 5.48% 8.3%;
    height: 91.3%;
    background-color: transparent;
    position: relative; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_Container {
        margin: 0% 0% 5.48% 0%;
        width: 100%; } }
  .HandPottery_Block1_Navbar {
    width: 74.91%;
    height: 17.1%;
    margin: 0% 12.5% 0% 12.5%;
    background-color: transparent;
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_Navbar {
        margin: 0% 0% 0% 0%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr; } }
    @media screen and (min-width: 770px) and (max-width: 1400px) {
      .HandPottery_Block1_Navbar {
        margin: 0% 0% 0% 0%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr; } }
    .HandPottery_Block1_Navbar_Item {
      width: 8.11979%;
      height: 16.90141%;
      text-decoration: none;
      margin-top: 86px;
      margin-right: 6.32711%;
      margin-left: 6.32711%;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      color: #2F2F2F;
      font-size: 18px;
      line-height: 24px; }
      @media screen and (max-width: 770px) {
        .HandPottery_Block1_Navbar_Item {
          margin-top: 56px;
          margin-right: 0%;
          margin-left: 0%;
          text-align: center;
          width: 100%; } }
      @media screen and (min-width: 770px) and (max-width: 1400px) {
        .HandPottery_Block1_Navbar_Item {
          margin-top: 56px;
          margin-right: 0%;
          margin-left: 0%;
          text-align: center;
          width: 100%; } }
    .HandPottery_Block1_Navbar_Logo {
      padding: 32px; }
      @media screen and (max-width: 770px) {
        .HandPottery_Block1_Navbar_Logo {
          display: none; } }
  .HandPottery_Block1_MainText {
    position: absolute;
    top: 27%;
    width: 38.25%;
    height: 22.4%;
    font-family: 'GFS Didot', serif;
    font-size: 72px;
    font-weight: 600;
    color: #2F2F2F;
    text-transform: uppercase; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_MainText {
        font-size: 56px;
        top: 18%; } }
    @media screen and (min-width: 770px) and (max-width: 1400px) {
      .HandPottery_Block1_MainText {
        z-index: 10; } }
  .HandPottery_Block1_VerticalText {
    position: absolute;
    left: -7%;
    top: 57%;
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 105px;
    width: 21.91%;
    height: 12.65%;
    transform: rotate(-90deg);
    color: #BF965F; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_VerticalText {
        left: 2%;
        top: 57%; } }
    @media screen and (min-width: 770px) and (max-width: 1400px) {
      .HandPottery_Block1_VerticalText {
        top: 65%; } }
  .HandPottery_Block1_SVG {
    position: absolute;
    z-index: 1;
    left: 38%;
    top: 31%;
    width: 56.11111%;
    height: 62.92629%; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_SVG {
        top: 20%;
        left: 26%;
        width: 70%; } }
    @media screen and (min-width: 770px) and (max-width: 1400px) {
      .HandPottery_Block1_SVG {
        top: 36%;
        left: 30%;
        width: 75%; } }
    .HandPottery_Block1_SVG .SVG {
      width: 100%;
      height: 100%; }
  .HandPottery_Block1_Button {
    position: absolute;
    top: 88%;
    left: 0%;
    padding: 12px;
    background: #BF965F;
    text-align: center;
    border: none; }
    .HandPottery_Block1_Button a {
      color: #FCFCFC;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-decoration: none;
      line-height: 36px; }
    .HandPottery_Block1_Button:hover {
      background: #CFB59A; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block1_Button {
        left: 25%; } }

.HandPottery_Block2 {
  width: 100%;
  height: 550px;
  position: relative;
  background: #F2E6DA; }
  @media screen and (max-width: 770px) {
    .HandPottery_Block2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 75% 25%;
      grid-template-areas: "Text Text" "Picture1 Picture2"; } }
  .HandPottery_Block2_RightPicture {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 21.94444%;
    height: 80.36364%; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block2_RightPicture {
        grid-area: Picture1;
        position: relative;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%; } }
    .HandPottery_Block2_RightPicture .Picture {
      width: 100%;
      height: 100%; }
  .HandPottery_Block2_TextContainer {
    width: 44.16667%;
    height: 49.63636%;
    position: absolute;
    top: 25.27%;
    left: 27.91%;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block2_TextContainer {
        grid-area: Text;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%; } }
    .HandPottery_Block2_TextContainer_Title {
      height: 93px;
      text-align: center;
      font-family: Sacramento;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 93px;
      color: #2F2F2F; }
    .HandPottery_Block2_TextContainer_Text {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #2F2F2F; }
  .HandPottery_Block2_LeftPicture {
    position: absolute;
    right: 0;
    top: 26.9%;
    width: 21.94444%;
    height: 46.36364%; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block2_LeftPicture {
        grid-area: Picture2;
        position: relative;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%; } }
    .HandPottery_Block2_LeftPicture .Picture {
      width: 100%;
      height: 100%; }

.HandPottery_Block3 {
  width: 100%;
  height: 1405px;
  background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url("../assets/Rectangle 17.png");
  position: relative; }
  @media screen and (max-width: 770px) {
    .HandPottery_Block3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 10% 40%;
      grid-template-areas: "Text" "SVG" "Price" "Venue";
      row-gap: 20px;
      height: 2005px; } }
  .HandPottery_Block3_TextContainer {
    width: 50.27778%;
    height: 15.37367%;
    position: absolute;
    left: 8.33333%;
    top: 5.69395%; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block3_TextContainer {
        margin-top: 50px;
        grid-area: Text;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        text-align: center; } }
    .HandPottery_Block3_TextContainer_Title {
      font-family: Didot;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;
      color: #2F2F2F; }
    .HandPottery_Block3_TextContainer_ItemList {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      margin-top: 1em;
      font-size: 18px;
      line-height: 24px;
      color: #2F2F2F; }
      .HandPottery_Block3_TextContainer_ItemList .arrow {
        margin-right: 10px; }
  .HandPottery_Block3_PriceContainer {
    position: absolute;
    top: 12.38434%;
    right: 8.33333%;
    width: 28.33333%;
    height: 9.44444%;
    border: 2px solid #BF965F;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block3_PriceContainer {
        grid-area: Price;
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        text-align: center; } }
    .HandPottery_Block3_PriceContainer_UpperBox {
      height: 64.70588%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal; }
      .HandPottery_Block3_PriceContainer_UpperBox_Title {
        font-size: 32px;
        line-height: 42px;
        color: #7C8C69; }
    .HandPottery_Block3_PriceContainer_BelowBox {
      width: 100%;
      height: 35.29412%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #BF965F; }
      .HandPottery_Block3_PriceContainer_BelowBox_Text {
        font-size: 18px;
        line-height: 24px;
        color: white; }
  .HandPottery_Block3_VenueContainer {
    position: absolute;
    top: 23.20285%;
    right: 8.33333%;
    width: 28.33333%;
    height: 31.60142%;
    border: 2px solid #BF965F;
    box-sizing: border-box;
    z-index: 10; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block3_VenueContainer {
        grid-area: Venue;
        width: 100%;
        height: 50%;
        position: relative;
        left: 0;
        top: 0;
        text-align: center; } }
    .HandPottery_Block3_VenueContainer_Margin {
      width: 79.90196%;
      height: 72.97297%;
      margin: 14.3% 10% 14.3% 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .HandPottery_Block3_VenueContainer_Margin_Item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px; }
        .HandPottery_Block3_VenueContainer_Margin_Item .VenueText {
          font-family: Roboto Slab;
          margin-top: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          color: #2F2F2F;
          line-height: 32px; }
  .HandPottery_Block3_SVG {
    position: absolute;
    width: 47.91667%;
    height: 33.02491%;
    left: 8.33333%;
    top: 31.17438%; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block3_SVG {
        grid-area: SVG;
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0; } }
    .HandPottery_Block3_SVG .SVG {
      width: 100%;
      height: 100%; }

.HandPottery_Block4 {
  width: 100%;
  height: 569px;
  position: relative;
  background: #CFB59A; }
  .HandPottery_Block4_RegisterFormContainer {
    width: 83.33333%;
    height: 147.10018%;
    position: absolute;
    left: 8.33333%;
    bottom: 21.08963%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "form image"; }
    @media screen and (max-width: 770px) {
      .HandPottery_Block4_RegisterFormContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "form"; } }
    .HandPottery_Block4_RegisterFormContainer_Left {
      grid-area: form;
      background: #FCFCFC; }
      .HandPottery_Block4_RegisterFormContainer_Left_Form {
        width: 77.3913%;
        height: 83.75149%;
        margin: 6.69056% 11.30435% 9.55795% 11.30435%;
        display: flex;
        flex-direction: column; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .Form_Title {
          width: 100%;
          text-align: center;
          color: #2F2F2F;
          font-family: Didot;
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 62px;
          margin-bottom: 48px; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .InputTitle {
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
          color: #2F2F2F; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .Input {
          width: 100%;
          height: 48px;
          margin-bottom: 30px;
          border: none;
          text-indent: 20px; }
          .HandPottery_Block4_RegisterFormContainer_Left_Form .Input::placeholder {
            padding-left: 0px;
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #CFCFCF; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .Form_NameInput {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid #BF965F;
          margin-bottom: 15px; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .EmailInput {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid #BF965F;
          margin-bottom: 15px; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .PhoneNumberInput {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid #BF965F;
          margin-bottom: 15px; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 40px; }
          .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Question {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #2F2F2F;
            margin-bottom: 20px; }
          .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container {
            width: 100%;
            height: 56px;
            display: grid;
            grid-template-columns: 25% 35% 40%;
            grid-template-rows: 1fr;
            grid-template-areas: "ButtonContainer . Result"; }
            @media screen and (max-width: 770px) {
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 20px;
                grid-template-areas: "ButtonContainer" "Result"; } }
            .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer {
              grid-area: ButtonContainer;
              height: 100%;
              display: flex;
              justify-content: space-evenly;
              align-items: center; }
              @media screen and (max-width: 770px) {
                .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer {
                  justify-content: flex-start; } }
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer_Decrease {
                background: #FCFCFC;
                border: 1px solid #CFCFCF;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                outline: none;
                padding-bottom: 24px; }
                @media screen and (max-width: 770px) {
                  .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer_Decrease {
                    margin-right: 25px; } }
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer_Number {
                font-family: Roboto Slab;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #2F2F2F; }
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer_Increase {
                background: #FCFCFC;
                border: 1px solid #CFCFCF;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                outline: none;
                padding-bottom: 0px; }
                @media screen and (max-width: 770px) {
                  .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_ButtonContainer_Increase {
                    margin-left: 25px; } }
            .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_Result {
              grid-area: Result;
              height: 100%;
              font-family: Roboto Slab;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 24px;
              color: #2F2F2F; }
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_Result_Text {
                height: 100%;
                display: flex;
                align-items: center; }
              .HandPottery_Block4_RegisterFormContainer_Left_Form .UsersCheck_Container_Result_Price {
                margin-left: 10px;
                color: #7C8C69; }
        .HandPottery_Block4_RegisterFormContainer_Left_Form .Form_Button {
          background: #BF965F;
          width: 100%;
          height: 60px;
          text-align: center;
          border: none; }
          .HandPottery_Block4_RegisterFormContainer_Left_Form .Form_Button span {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FCFCFC; }
          .HandPottery_Block4_RegisterFormContainer_Left_Form .Form_Button:hover {
            background: #CFB59A; }
    .HandPottery_Block4_RegisterFormContainer_Right {
      grid-area: image;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 770px) {
        .HandPottery_Block4_RegisterFormContainer_Right {
          display: none; } }
      .HandPottery_Block4_RegisterFormContainer_Right .ImageForm {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }

.HandPottery_Block5 {
  width: 100%;
  height: 669px;
  position: relative;
  background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url("../assets/Rectangle 18.png"); }
  @media screen and (min-width: 0px) {
    .HandPottery_Block5 {
      height: 2200px; } }
  @media screen and (min-width: 450px) {
    .HandPottery_Block5 {
      height: 1200px; } }
  .HandPottery_Block5_Container {
    width: 83.33333%;
    height: 79.67115%;
    position: absolute;
    top: 11.95815%;
    left: 8.33333%;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 450px) {
      .HandPottery_Block5_Container {
        top: 0%;
        height: 100%; } }
    .HandPottery_Block5_Container_ForTitle {
      width: 100%;
      text-align: center;
      font-family: Didot;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;
      color: #2F2F2F;
      margin-bottom: 30px; }
    .HandPottery_Block5_Container_ForImages {
      width: 100%;
      height: 72.04503%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8";
      row-gap: 24px;
      column-gap: 24px; }
      @media screen and (max-width: 770px) {
        .HandPottery_Block5_Container_ForImages {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-areas: "img1 img2"  "img3 img4" "img5 img6"  "img7 img8";
          height: 100%; } }
      @media screen and (max-width: 450px) {
        .HandPottery_Block5_Container_ForImages {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: "img1"  "img2"  "img3"  "img4" "img5"  "img6"  "img7"  "img8";
          height: 100%; } }
      .HandPottery_Block5_Container_ForImages .Ourmoment_img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: none; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images1 {
        grid-area: img1; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images2 {
        grid-area: img2; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images3 {
        grid-area: img3; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images4 {
        grid-area: img4; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images5 {
        grid-area: img5; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images6 {
        grid-area: img6; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images7 {
        grid-area: img7; }
      .HandPottery_Block5_Container_ForImages .Ourmoment_Images8 {
        grid-area: img8; }
    .HandPottery_Block5_Container_ForButton {
      margin-top: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 450px) {
        .HandPottery_Block5_Container_ForButton {
          margin-bottom: 35px; } }
      .HandPottery_Block5_Container_ForButton_Button {
        background: transparent;
        padding: 5px;
        cursor: pointer;
        border: none;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #BF965F;
        transition: all .3s; }

.HandPottery_Block6 {
  background: #F2E6DA;
  width: 100%;
  height: 273px;
  position: relative; }
  @media screen and (max-width: 450px) {
    .HandPottery_Block6 {
      height: 530px; } }
  .HandPottery_Block6_Container {
    width: 83.33333%;
    height: 76.55678%;
    position: absolute;
    left: 10%;
    top: 11.72161%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: "Information" "Copyright"; }
    @media screen and (max-width: 450px) {
      .HandPottery_Block6_Container {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%; } }
    .HandPottery_Block6_Container_Information {
      grid-area: Information;
      border-bottom: 1px solid #BF965F;
      position: relative; }
      @media screen and (max-width: 450px) {
        .HandPottery_Block6_Container_Information {
          display: flex;
          flex-direction: column; } }
      .HandPottery_Block6_Container_Information .SVG_Container {
        position: absolute;
        left: 6.41667%; }
        @media screen and (max-width: 450px) {
          .HandPottery_Block6_Container_Information .SVG_Container {
            margin-top: 20px;
            position: relative;
            left: 0%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px; } }
      .HandPottery_Block6_Container_Information .Contact_Container {
        width: 16.41667%;
        height: 73.9726%;
        position: absolute;
        left: 23.66667%;
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 450px) {
          .HandPottery_Block6_Container_Information .Contact_Container {
            position: relative;
            left: 10%;
            width: 100%; } }
        .HandPottery_Block6_Container_Information .Contact_Container .phoneContact {
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 36px;
          color: #2F2F2F; }
          .HandPottery_Block6_Container_Information .Contact_Container .phoneContact .PhoneIcon {
            margin-right: 10px; }
        .HandPottery_Block6_Container_Information .Contact_Container .EmailContact {
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 36px;
          color: #2F2F2F;
          display: flex; }
          .HandPottery_Block6_Container_Information .Contact_Container .EmailContact .EmailIcon {
            margin-right: 10px; }
          .HandPottery_Block6_Container_Information .Contact_Container .EmailContact .SecondEmail {
            margin-left: 32px; }
            @media screen and (max-width: 450px) {
              .HandPottery_Block6_Container_Information .Contact_Container .EmailContact .SecondEmail {
                margin-left: 0px; } }
      .HandPottery_Block6_Container_Information .SocialLink_Container {
        width: 10%;
        height: 54.79452%;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 49%;
        z-index: 10; }
        @media screen and (max-width: 450px) {
          .HandPottery_Block6_Container_Information .SocialLink_Container {
            position: relative;
            left: 10%;
            width: 100%;
            height: 35%;
            flex-direction: row; } }
        .HandPottery_Block6_Container_Information .SocialLink_Container_Text {
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 36px;
          color: #000000; }
          @media screen and (max-width: 450px) {
            .HandPottery_Block6_Container_Information .SocialLink_Container_Text {
              margin-right: 10px; } }
        .HandPottery_Block6_Container_Information .SocialLink_Container_Icon {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly; }
          @media screen and (max-width: 450px) {
            .HandPottery_Block6_Container_Information .SocialLink_Container_Icon {
              width: 100%; } }
      .HandPottery_Block6_Container_Information .NewsLetter_Container {
        width: 34%;
        height: 54.79452%;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 66%; }
        @media screen and (max-width: 450px) {
          .HandPottery_Block6_Container_Information .NewsLetter_Container {
            position: relative;
            width: 80%;
            left: 10%;
            margin-bottom: 15px; } }
        .HandPottery_Block6_Container_Information .NewsLetter_Container_Text {
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 36px;
          color: #000000; }
        .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput {
          display: grid;
          grid-template-columns: 80% 20%;
          grid-template-rows: 1fr;
          grid-template-areas: "Input Button";
          height: 100%; }
          .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Input {
            grid-area: Input;
            width: 100%;
            height: 100%;
            border: none;
            text-indent: 20px;
            padding: 0px; }
            .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Input::placeholder {
              padding-left: 0px;
              font-family: Roboto Slab;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 24px;
              color: #CFCFCF; }
              @media screen and (max-width: 450px) {
                .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Input::placeholder {
                  line-height: 18px;
                  font-size: 13px; } }
          .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Button {
            grid-area: Button;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            background: #BF965F;
            border: none;
            color: #FCFCFC; }
            .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Button:hover {
              background: #CFB59A; }
            @media screen and (max-width: 450px) {
              .HandPottery_Block6_Container_Information .NewsLetter_Container_EmailInput .Button {
                font-size: 15px; } }
    .HandPottery_Block6_Container_CopyRight {
      grid-area: Copyright;
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .HandPottery_Block6_Container_CopyRight .CopyRight_Text {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #2F2F2F;
        margin-bottom: 10px;
        margin-left: 35px; }
      .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists {
        display: flex;
        flex-direction: row; }
        @media screen and (max-width: 450px) {
          .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists {
            justify-content: center; } }
        .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists_Item {
          width: 15%;
          text-align: center; }
          @media screen and (max-width: 450px) {
            .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists_Item {
              width: 25%; } }
          .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists_Item:not(:last-child) {
            border-right: 1px solid #2F2F2F; }
          .HandPottery_Block6_Container_CopyRight .CopyRight_Link_Lists_Item a {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #2F2F2F;
            text-decoration: none; }
