body {
    position: absolute;
    width: 100%;
    height: 4375px;
    margin: 0;
}

.HandPottery_Block1 {
    width: 100%;
    height: 909px;
    z-index: 0;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../assets//5fe4c032c1ffce56de31fb12f7c93492.jpg'), url('../assets//');

    &_Container {
        width: 83.33%;
        margin: 0% 8.3% 5.48% 8.3%;
        height: 91.3%;
        background-color: transparent;
        position: relative;
        // width = 1200px
        // height = 830px
    }

    &_Navbar {
        width: 74.91%;
        height: 17.1%;
        margin: 0% 12.5% 0% 12.5%;
        background-color: transparent;

        display: flex;
        flex-direction: row;

        &_Item {
            width: 77px;
            height: 24px;
            text-decoration: none;
            margin-top: 86px;
            margin-right: 60px;
            margin-left: 60px;
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            color: #2F2F2F;
            font-size: 18px;
            line-height: 24px;
        }

        &_Logo {
            padding: 32px;
        }
    }

    &_MainText {
        position: absolute;
        top: 27%;

        width: 38.25%;
        height: 22.4%;

        font-family: 'GFS Didot', serif;
        font-style: bold;
        font-size: 72px;
        color: #2F2F2F;
        text-transform: uppercase;
    }

    &_VerticalText {
        position: absolute;
        left: -7%;
        top: 57%;

        font-family: 'Sacramento', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 105px;

        width: 21.91%;
        height: 12.65%;
        transform: rotate(-90deg);
        color: #BF965F;
    }

    &_SVG {
        position: absolute;
        z-index: 1;
        left: 38%;
        top: 31%;
    }

    &_Button {
        position: absolute;
        top: 88%;
        left: 0%;

        padding: 12px;
        background: #BF965F;
        text-align: center;
        border: none;

        a {
            color:#FCFCFC;
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-decoration: none;
            line-height: 36px;
        }
    }
}

.HandPottery_Block2 {
    width: 100%;
    height: 550px;
    position: relative;
    background: #F2E6DA;

    &_RightPicture {
        position: absolute;
        top: 10%;
        left: 0%;
    }

    &_TextContainer {
        width: (636/1440)*100%;
        height: (273/550)*100%; 
        position: absolute;
        top: 25.27%;
        left: 27.91%;

        display: flex;
        flex-direction: column;

        &_Title {
            height: 93px;
            text-align: center;
            font-family: Sacramento;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 93px;
            color: #2F2F2F;
        }

        &_Text {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            color: #2F2F2F;
        }
    }

    &_LeftPicture {
        position: absolute;
        right: 0;
        top: 26.9%;
    }
}

.HandPottery_Block3 {
    width: 100%;
    height: 1405px;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../assets/Rectangle\ 17.png');
    position: relative;

    &_TextContainer {
        width: (724/1440)*100%;
        height: (216/1405)*100%;
        position: absolute;
        left: (120/1440)*100%;
        top: (80/1405)*100%;

        &_Title {
            font-family: Didot;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            color: #2F2F2F;
        }

        &_ItemList {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            margin-top: 1em;
            font-size: 18px;
            line-height: 24px;
            color: #2F2F2F;

            .arrow {
                margin-right: 10px;
            }
        }
    }

    &_PriceContainer {
        position: absolute;
        top: (174/1405)*100%;
        right: (120/1440)*100%;

        width: (408/1440)*100%;
        height: (136/1440)*100%;

        border: 2px solid #BF965F;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        &_UpperBox {
            height: (88/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;

            &_Title {
                font-size: 32px;
                line-height: 42px;
                color: #7C8C69;
            }
        }

        &_BelowBox {
            width: 100%;
            height: (48/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BF965F;

            &_Text {
                font-size: 18px;
                line-height: 24px;
                color: white;
            }
        }
    }

    &_VenueContainer {
        position: absolute;
        top: (326/1405)*100%;
        right: (120/1440)*100%;
        width: (408/1440)*100%;
        height: (444/1405)*100%;
        border: 2px solid #BF965F;
        box-sizing: border-box;
        z-index: 10;
        &_Margin {
            width: (326/408)*100%;
            height: ((444 - 120)/444)*100%;
            margin: 14.3% 10% 14.3% 10%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &_Item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;

                .VenueText {
                    font-family: Roboto Slab;
                    margin-top: 5px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    color: #2F2F2F;
                    line-height: 32px;
                }
            }
        }
    }

    &_SVG {
        position: absolute;
        left: (120/1440)*100%;
        top: (438/1405)*100%;
    }
}

.HandPottery_Block4 {
    width: 100%;
    height: 569px;
    position: absolute;
    background: #CFB59A;

    &_RegisterFormContainer {
        width: ((690+510)/1440)*100%;
        height: (837/569)*100%;

        position: absolute;
        left: (120/1440)*100%;
        bottom: (120/569)*100%;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        grid-template-areas: "form image";

        &_Left {
            grid-area: form;
            background: #FCFCFC;

            &_Form {
                width: (534/690)*100%;
                height: ((837 - (56+80))/837)*100%;
                margin: (56/837)*100% (78/690)*100% (80/837)*100% (78/690)*100%;

                display: flex;
                flex-direction: column;

                .Form_Title {
                    width: 100%;
                    text-align: center;
                    color: #2F2F2F;
                    font-family: Didot;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 62px;
                    margin-bottom: 48px;
                }

                .InputTitle {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 10px;
                    color: #2F2F2F;
                }

                .Input {
                    width: 100%;
                    height: 48px;
                    margin-bottom: 30px;
                    border: none;
                    text-indent: 20px;

                    &::placeholder {
                        padding-left: 0px;

                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 24px;
                        color: #CFCFCF;
                    }
                }

                .Form_NameInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .EmailInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .PhoneNumberInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .UsersCheck {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;

                    &_Question {
                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 24px;
                        color: #2F2F2F;
                        margin-bottom: 20px;
                    }

                    &_Container {
                        width: 100%;
                        height: 56px;
                        display: grid;
                        grid-template-columns: 25% 35% 40%;
                        grid-template-rows: 1fr;
                        grid-template-areas: "ButtonContainer . Result";

                        &_ButtonContainer {
                            grid-area: ButtonContainer;
                            height: 100%;

                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            &_Decrease {
                                background: #FCFCFC;
                                border: 1px solid #CFCFCF;                              
                                box-sizing: border-box;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                outline: none;
                                padding-bottom: 24px;
                            }

                            &_Number {        
                                font-family: Roboto Slab;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 24px;                              
                                color: #2F2F2F;
                            }

                            &_Increase {
                                background: #FCFCFC;
                                border: 1px solid #CFCFCF;                              
                                box-sizing: border-box;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                outline: none;
                                padding-bottom: 0px;
                            }
                        }

                        &_Result {
                            grid-area: Result;
                            height: 100%;
                            font-family: Roboto Slab;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 24px;
                            color: #2F2F2F;

                            &_Text {
                                height: 100%;
                                display: flex;
                                align-items: center;
                            }

                            &_Price {
                                margin-left: 10px;
                                color: #7C8C69;
                            }
                        } 
                    }
                }

                .Form_Button {
                    background: #BF965F;
                    width: 100%;
                    height: 60px;
                    text-align: center;
                    border: none;

                    span {
                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        text-align: center;
                        color: #FCFCFC;

                    }
                }
            }
        }

        &_Right {
            grid-area: image;

            .ImageForm {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
            }
        }
    }
}