$break-mini: 450px;
$break-small: 770px;
$break-medium : 1400px;

body {
    position: absolute;
    width: 100%;
    height: 4375px;
    margin: 0;
}

.HandPottery_Block1 {
    width: 100%;
    height: 909px;
    z-index: 0;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../assets//5fe4c032c1ffce56de31fb12f7c93492.jpg'), url('../assets//');

    &_Container {
        width: 83.33%;
        margin: 0% 8.3% 5.48% 8.3%;
        height: 91.3%;
        background-color: transparent;
        position: relative;
        // width = 1200px
        // height = 830px

        @media screen and (max-width: $break-small) {
            margin: 0% 0% 5.48% 0%;
            width: 100%;
        }
    }

    &_Navbar {
        width: 74.91%;
        height: 17.1%;
        margin: 0% 12.5% 0% 12.5%;
        background-color: transparent;

        display: flex;
        flex-direction: row;

        @media screen and (max-width: $break-small) {
            margin: 0% 0% 0% 0%;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

        @media screen and (min-width: $break-small) and (max-width: $break-medium) {
            margin: 0% 0% 0% 0%;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &_Item {
            width: (77/948.3)*100%;
            height: (24/142)*100%;
            text-decoration: none;
            margin-top: 86px;
            margin-right: (60/948.3)*100%;
            margin-left: (60/948.3)*100%;
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            color: #2F2F2F;
            font-size: 18px;
            line-height: 24px;

            @media screen and (max-width: $break-small) {
                margin-top: 56px;
                margin-right: 0%;
                margin-left: 0%;
                text-align: center;
                width: 100%;
            }

            @media screen and (min-width: $break-small) and (max-width: $break-medium) {

                margin-top: 56px;
                margin-right: 0%;
                margin-left: 0%;
                text-align: center;
                width: 100%;
            }
            
        }

        &_Logo {
            padding: 32px;

            @media screen and (max-width: $break-small) {
                display: none;
            }
        }
    }

    &_MainText {
        position: absolute;
        top: 27%;

        width: 38.25%;
        height: 22.4%;

        font-family: 'GFS Didot', serif;
        font-size: 72px;
        font-weight: 600;
        color: #2F2F2F;
        text-transform: uppercase;

        @media screen and (max-width: $break-small) {
            font-size: 56px;
            top: 18%;
        }

        @media screen and (min-width: $break-small) and (max-width: $break-medium)  {
            z-index: 10;
        }
    }

    &_VerticalText {
        position: absolute;
        left: -7%;
        top: 57%;

        font-family: 'Sacramento', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 105px;

        width: 21.91%;
        height: 12.65%;
        transform: rotate(-90deg);
        color: #BF965F;

        @media screen and (max-width: $break-small) {
            left: 2%;
            top: 57%;
        }

        
        @media screen and (min-width: $break-small) and (max-width: $break-medium) {
            top: 65%;
        }
    }

    &_SVG {
        position: absolute;
        z-index: 1;
        left: 38%;
        top: 31%;

        width: (808/1440)*100%;
        height: (572/909)*100%;

        @media screen and (max-width: $break-small) {
            top: 20%;
            left: 26%;
            width: 70%;
        }

        @media screen and (min-width: $break-small) and (max-width: $break-medium)  {
            top: 36%;
            left: 30%;
            width: 75%;
        }


        .SVG {
            width: 100%;
            height: 100%;
        }
    }

    &_Button {
        position: absolute;
        top: 88%;
        left: 0%;

        padding: 12px;
        background: #BF965F;
        text-align: center;
        border: none;

        a {
            color:#FCFCFC;
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-decoration: none;
            line-height: 36px;
        }

        &:hover {
            background: #CFB59A;
        }

        @media screen and (max-width: $break-small) {
            left: 25%;
        }
    }
}

.HandPottery_Block2 {
    width: 100%;
    height: 550px;
    position: relative;
    background: #F2E6DA;

    @media screen and (max-width: $break-small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75% 25%;
        grid-template-areas: "Text Text"
                             "Picture1 Picture2";
    }

    &_RightPicture {
        position: absolute;
        top: 10%;
        left: 0%;
        width: (316/1440)*100%;
        height: (442/550)*100%;

        @media screen and (max-width: $break-small) {
            grid-area: Picture1;
            position: relative;

            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
        }

        .Picture {
            width: 100%;
            height: 100%;
        }
    }

    &_TextContainer {
        width: (636/1440)*100%;
        height: (273/550)*100%; 
        position: absolute;
        top: 25.27%;
        left: 27.91%;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-small) {
            grid-area: Text;

            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
        }

        &_Title {
            height: 93px;
            text-align: center;
            font-family: Sacramento;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 93px;
            color: #2F2F2F;
        }

        &_Text {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            color: #2F2F2F;
        }
    }

    &_LeftPicture {
        position: absolute;
        right: 0;
        top: 26.9%;

        width: (316/1440)*100%;
        height: (255/550)*100%;

        @media screen and (max-width: $break-small) {
            grid-area: Picture2;
            position: relative;

            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
        }

        .Picture {
            width: 100%;
            height: 100%;   
        }
    }
}

.HandPottery_Block3 {
    width: 100%;
    height: 1405px;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../assets/Rectangle\ 17.png');
    position: relative;

    @media screen and (max-width: $break-small) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10% 40%;
        grid-template-areas: "Text"
                             "SVG"
                             "Price"
                             "Venue";
        row-gap: 20px;
        height: 2005px;
    }

    &_TextContainer {
        width: (724/1440)*100%;
        height: (216/1405)*100%;
        position: absolute;
        left: (120/1440)*100%;
        top: (80/1405)*100%;

        @media screen and (max-width: $break-small) {
            margin-top: 50px;
            grid-area: Text;
            width: 100%;
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
        }

        &_Title {
            font-family: Didot;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            color: #2F2F2F;
        }

        &_ItemList {
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            margin-top: 1em;
            font-size: 18px;
            line-height: 24px;
            color: #2F2F2F;

            .arrow {
                margin-right: 10px;
            }
        }
    }

    &_PriceContainer {
        position: absolute;
        top: (174/1405)*100%;
        right: (120/1440)*100%;

        width: (408/1440)*100%;
        height: (136/1440)*100%;

        border: 2px solid #BF965F;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-small) {
            grid-area: Price;
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
        }

        &_UpperBox {
            height: (88/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;

            &_Title {
                font-size: 32px;
                line-height: 42px;
                color: #7C8C69;
            }
        }

        &_BelowBox {
            width: 100%;
            height: (48/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BF965F;

            &_Text {
                font-size: 18px;
                line-height: 24px;
                color: white;
            }
        }
    }

    &_VenueContainer {
        position: absolute;
        top: (326/1405)*100%;
        right: (120/1440)*100%;
        width: (408/1440)*100%;
        height: (444/1405)*100%;
        border: 2px solid #BF965F;
        box-sizing: border-box;
        z-index: 10;

        @media screen and (max-width: $break-small) {
            grid-area: Venue;
            width: 100%;
            height: 50%;
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
        }

        &_Margin {
            width: (326/408)*100%;
            height: ((444 - 120)/444)*100%;
            margin: 14.3% 10% 14.3% 10%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &_Item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;

                .VenueText {
                    font-family: Roboto Slab;
                    margin-top: 5px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    color: #2F2F2F;
                    line-height: 32px;
                }
            }
        }
    }

    &_SVG {
        position: absolute;
        width: (690/1440)*100%;
        height: (464/1405)*100%;
        left: (120/1440)*100%;
        top: (438/1405)*100%;

        @media screen and (max-width: $break-small) {
            grid-area: SVG;
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
            top: 0;
        }

        .SVG {
            width: 100%;
            height: 100%;
        }
    }
}

.HandPottery_Block4 {
    width: 100%;
    height: 569px;
    position: relative;
    background: #CFB59A;

    &_RegisterFormContainer {
        width: ((690+510)/1440)*100%;
        height: (837/569)*100%;

        position: absolute;
        left: (120/1440)*100%;
        bottom: (120/569)*100%;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        grid-template-areas: "form image";

        @media screen and (max-width: $break-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "form";
        }

        &_Left {
            grid-area: form;
            background: #FCFCFC;

            &_Form {
                width: (534/690)*100%;
                height: ((837 - (56+80))/837)*100%;
                margin: (56/837)*100% (78/690)*100% (80/837)*100% (78/690)*100%;

                display: flex;
                flex-direction: column;

                .Form_Title {
                    width: 100%;
                    text-align: center;
                    color: #2F2F2F;
                    font-family: Didot;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 62px;
                    margin-bottom: 48px;
                }

                .InputTitle {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 10px;
                    color: #2F2F2F;
                }

                .Input {
                    width: 100%;
                    height: 48px;
                    margin-bottom: 30px;
                    border: none;
                    text-indent: 20px;

                    &::placeholder {
                        padding-left: 0px;

                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 24px;
                        color: #CFCFCF;
                    }
                }

                .Form_NameInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .EmailInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .PhoneNumberInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #BF965F;
                    margin-bottom: 15px;
                }

                .UsersCheck {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;

                    &_Question {
                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 24px;
                        color: #2F2F2F;
                        margin-bottom: 20px;
                    }

                    &_Container {
                        width: 100%;
                        height: 56px;
                        display: grid;
                        grid-template-columns: 25% 35% 40%;
                        grid-template-rows: 1fr;
                        grid-template-areas: "ButtonContainer . Result";

                        @media screen and (max-width: $break-small) {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr;
                            row-gap: 20px;
                            grid-template-areas: "ButtonContainer"
                                                 "Result";

                        }

                        &_ButtonContainer {
                            grid-area: ButtonContainer;
                            height: 100%;

                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            @media screen and (max-width: $break-small) {
                                justify-content: flex-start;
                            }

                            &_Decrease {
                                background: #FCFCFC;
                                border: 1px solid #CFCFCF;                              
                                box-sizing: border-box;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                outline: none;
                                padding-bottom: 24px;

                                @media screen and (max-width: $break-small) {
                                    margin-right: 25px;
                                }
                            }

                            &_Number {        
                                font-family: Roboto Slab;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 24px;                              
                                color: #2F2F2F;
                            }

                            &_Increase {
                                background: #FCFCFC;
                                border: 1px solid #CFCFCF;                              
                                box-sizing: border-box;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                outline: none;
                                padding-bottom: 0px;

                                
                                @media screen and (max-width: $break-small) {
                                    margin-left: 25px;
                                }
                            }
                        }

                        &_Result {
                            grid-area: Result;
                            height: 100%;
                            font-family: Roboto Slab;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 24px;
                            color: #2F2F2F;

                            &_Text {
                                height: 100%;
                                display: flex;
                                align-items: center;
                            }

                            &_Price {
                                margin-left: 10px;
                                color: #7C8C69;
                            }
                        } 
                    }
                }

                .Form_Button {
                    background: #BF965F;
                    width: 100%;
                    height: 60px;
                    text-align: center;
                    border: none;

                    span {
                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        text-align: center;
                        color: #FCFCFC;
                    }

                    &:hover {
                        background: #CFB59A;
                    }
                }
            }
        }

        &_Right {
            grid-area: image;
            width: 100%;
            height: 100%;

            @media screen and (max-width: $break-small) {
                display: none;
            }

            .ImageForm {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
            }
        }
    }
}

.HandPottery_Block5 {
    width: 100%;
    height: 669px;
    position: relative;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../assets/Rectangle\ 18.png');

    @media screen and (min-width: 0px) {
        height: 2200px;
    }

    @media screen and (min-width: $break-mini) {
        height: 1200px;
    }

    &_Container {
        width: ((1440 - 120*2)/1440)*100%;
        height: ((669 - 80 -56)/669)*100%;
        position: absolute;
        top: (80/669)*100%;
        left: (120/1440)*100%;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-mini) {
            top: 0%;
            height: 100%;
        }

        &_ForTitle {
            width: 100%;
            text-align: center;
            font-family: Didot;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            color: #2F2F2F;
            margin-bottom: 30px;
        }

        &_ForImages {
            width: 100%;
            height: (384/533)*100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "img1 img2 img3 img4"
                                 "img5 img6 img7 img8";
            row-gap: 24px;
            column-gap: 24px;

            @media screen and (max-width: $break-small) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: "img1 img2" 
                                     "img3 img4"
                                     "img5 img6" 
                                     "img7 img8";
                height: 100%;
            }

            
            @media screen and (max-width: $break-mini) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: "img1" 
                                     "img2" 
                                     "img3" 
                                     "img4"
                                     "img5" 
                                     "img6" 
                                     "img7" 
                                     "img8";
                height: 100%;
            }


            .Ourmoment_img {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: none;
            }

            .Ourmoment_Images1 {
                grid-area: img1;
            }
            .Ourmoment_Images2 {
                grid-area: img2;
            }
            .Ourmoment_Images3 {
                grid-area: img3;
            }
            .Ourmoment_Images4 {
                grid-area: img4;
            }
            .Ourmoment_Images5 {
                grid-area: img5;
            }
            .Ourmoment_Images6 {
                grid-area: img6;
            }
            .Ourmoment_Images7 {
                grid-area: img7;
            }
            .Ourmoment_Images8 {
                grid-area: img8;
            }
        }

        &_ForButton {
            margin-top: 35px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $break-mini) {
                margin-bottom: 35px;
            }

            &_Button {
                background: transparent;
                padding: 5px;
                cursor: pointer;
                border: none;
                font-family: Roboto Slab;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #BF965F;
                transition: all .3s;
            }
        }
    }
}

.HandPottery_Block6 {
    background: #F2E6DA;
    width: 100%;
    height: 273px;
    position: relative;

    &_Container {
        width: (1200/1440)*100%;
        height: (209/273)*100%;
        position: absolute;
        left: (120/1200)*100%;
        top: (32/273)*100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;
        grid-template-areas: "Information"
                              "Copyright";
    
        &_Information {
            grid-area: Information;
            border-bottom: 1px solid #BF965F;

            position: relative;

            .SVG_Container {
                position: absolute;
                left: (77/1200)*100%;
            }

            .Contact_Container {
                width: (197/1200)*100%;
                height: (108/146)*100%;
                position: absolute;
                left: (284/1200)*100%;

                display: flex;
                flex-direction: column;

                .phoneContact {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 36px;
                    color: #2F2F2F;
                    
                    .PhoneIcon {
                        margin-right: 10px;
                    }
                }

                .EmailContact {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 36px;
                    color: #2F2F2F;
                    display: flex;
                    .EmailIcon {
                        margin-right: 10px;
                    }
    
                    .SecondEmail {
                        margin-left: 32px;
                    }
                }
            }

            .SocialLink_Container {
                width: (120/1200)*100%;
                height: (80/146)* 100%;
                display: flex;
                flex-direction: column;
    
                position: absolute;
                left: (588/1200)*100%;
                z-index: 10;

                &_Text {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 36px;
                    color: #000000;
                }

                &_Icon {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }

            .NewsLetter_Container {
                width: (408/1200)*100%;
                height: (80/146)*100%;

                display: flex;
                flex-direction: column;
                
                position: absolute;
                left: ((912 - 120)/1200)*100%;

                &_Text {
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 36px;
                    color: #000000;
                }

                &_EmailInput {
                    display: grid;
                    grid-template-columns: 80% 20%;
                    grid-template-rows: 1fr;
                    grid-template-areas: "Input Button";
                    height: 100%;

                    .Input {
                        grid-area: Input;
                            width: 100%;
                            height: 100%;
                            border: none;
                            text-indent: 20px;
                            padding: 0px;

                            &::placeholder {
                                padding-left: 0px;
        
                                font-family: Roboto Slab;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 24px;
                                color: #CFCFCF;
                            }
                    }

                    .Button {
                        grid-area: Button;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 36px;
                        text-align: center;
                        background: #BF965F;
                        border: none;
                        color: #FCFCFC;

                        &:hover {
                            background: #CFB59A;
                        }
                    }
                }
            }
        }

        &_CopyRight {
            grid-area: Copyright;
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .CopyRight_Text {
                font-family: Roboto Slab;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #2F2F2F;
                margin-bottom: 10px;
                margin-left: 35px;
            }

            .CopyRight_Link_Lists {
                display: flex;
                flex-direction: row;

                &_Item {
                    width: 15%;
                    text-align: center;

                    &:not(:last-child) {
                        border-right: 1px solid #2F2F2F;
                    }

                    a {
                        font-family: Roboto Slab;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #2F2F2F;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}