.HandPottery_Block3 {
    width: 100%;
    height: 1405px;
    background: linear-gradient(0deg, rgba(242, 230, 218, 0.1), rgba(242, 230, 218, 0.1)), url('../../assets/Block3_Background.png');
    position: relative;

    @media screen and (max-width: $break-small) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10% 40%;
        grid-template-areas: "Text"
                             "SVG"
                             "Price"
                             "Venue";
        row-gap: 20px;
        height: 2005px;
    }

    &_TextContainer {
        width: (724/1440)*100%;
        height: (216/1405)*100%;
        position: absolute;
        left: (120/1440)*100%;
        top: (80/1405)*100%;

        @media screen and (max-width: $break-small) {
            margin-top: 50px;
            grid-area: Text;
            width: 100%;
            text-align: center;

            @include TopLeftRelative();
        }

        &_Title {
            font-family: Didot;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            color: #2F2F2F;
        }

        &_ItemList {
            @include RobotoSlabText(18px, 24px, #2F2F2F);
            margin-top: 1em;

            .arrow {
                margin-right: 10px;
            }
        }
    }

    &_PriceContainer {
        position: absolute;
        top: (174/1405)*100%;
        right: (120/1440)*100%;
        
        width: (408/1440)*100%;
        height: (136/1440)*100%;

        border: 2px solid #BF965F;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-small) {
            grid-area: Price;
            text-align: center;

            @include TopLeftRelative();
            @include TakeAllTheSpaces(); 
        }

        &_UpperBox {
            height: (88/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;

            &_Title {
                @include RobotoSlabText(32px, 42px, #7C8C69);
            }
        }

        &_BelowBox {
            width: 100%;
            height: (48/136)*100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BF965F;

            &_Text {
                font-size: 18px;
                line-height: 24px;
                color: white;
            }
        }
    }

    &_VenueContainer {
        position: absolute;
        top: (326/1405)*100%;
        right: (120/1440)*100%;
        width: (408/1440)*100%;
        height: (444/1405)*100%;
        border: 2px solid #BF965F;
        box-sizing: border-box;
        z-index: 10;

        @media screen and (max-width: $break-small) {
            grid-area: Venue;
            width: 100%;
            height: 50%;
            text-align: center;

            @include TopLeftRelative();
        }

        &_Margin {
            width: (326/408)*100%;
            height: ((444 - 120)/444)*100%;
            margin: 14.3% 10% 14.3% 10%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &_Item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;

                .VenueText {
                    @include RobotoSlabText(24px, 32px, #2F2F2F);
                    margin-top: 5px;
                }
            }
        }
    }

    &_SVG {
        @include AbsolutePositioning((438/1405)*100%, (120/1440)*100%);

        width: (690/1440)*100%;
        height: (464/1405)*100%;

        @media screen and (max-width: $break-small) {
            grid-area: SVG;

            @include TopLeftRelative();
            @include TakeAllTheSpaces(); 
        }

        .SVG {
            @include TakeAllTheSpaces(); 
        }
    }
}